{{!-- Dialog for casting a hex. dlc p.157, hnh p.33. --}}
<form class="dlc-cast-hex-dialog">
  <p class="dlc-dialog-intro">
    {{localize "DEADLANDS.Huckster.Dialog.CastIntro"}}
    <strong>{{hexName}}</strong>
  </p>

  <div class="dlc-form-row">
    <label for="modifier">{{localize "DEADLANDS.Dialog.TraitRoll.Modifier"}}</label>
    <input type="number" id="modifier" name="modifier" value="0" />
  </div>

  {{#if maxWhite}}
  <div class="dlc-form-row">
    <label for="whiteChips">{{localize "DEADLANDS.Dialog.TraitRoll.WhiteChips"}}</label>
    <input type="number" id="whiteChips" name="whiteChips"
      min="0" max="{{maxWhite}}" value="0" />
    <span class="dlc-chip-avail">({{localize "DEADLANDS.Huckster.Dialog.Available"}}: {{maxWhite}})</span>
  </div>
  {{/if}}
</form>
