{{!-- Dialog: devise blueprint OR construct gizmo (Mad Scientist). --}}
<form class="dlc-dialog-form">
  {{#if isConstruction}}
  <p class="dlc-dialog-intro">
    {{localize "DEADLANDS.MadScientist.Dialog.ConstructIntro"}}: <strong>{{gizmoName}}</strong>
    ({{localize "DEADLANDS.MadScientist.GizmoTable.ConstructionTN"}}: {{constructionTN}})
  </p>
  {{else}}
  <p class="dlc-dialog-intro">
    {{localize "DEADLANDS.MadScientist.Dialog.BlueprintIntro"}}: <strong>{{gizmoName}}</strong>
    ({{localize "DEADLANDS.MadScientist.Blueprint.TN"}}: 5)
  </p>
  {{/if}}

  <div class="dlc-form-row">
    <label for="modifier">{{localize "DEADLANDS.Dialog.Modifier"}}</label>
    <input type="number" id="modifier" name="modifier" value="0" />
  </div>
</form>
